#editmenu {
  border:#000000 solid 1px;
  background-color:#ffffff;
  border-radius:4px;
  padding:10px;
  margin: 10px auto;
}

#response {
  border:#000000 solid 1px;
  background-color:#ffffff;
  border-radius:4px;
  padding:10px;
  margin: 10px auto;
}

#editor {
  border:#000000 solid 1px;
  background-color:#ffffff;
  border-radius:4px;
  padding:10px;
  margin: 10px auto;
}

#editmenu input {
  margin: 10px 20px;
}

#xmlparams {
  background-color:#000000;
  margin: 0 auto;
  padding: 0;
  border-spacing: 0;
}

#xmlparams td, #xmlparams th {
  background-color:#ffffff;
  padding: 3px 10px;
  font-size:10pt;
  font-weight:bold;
  border-bottom: 1px solid #000000;
}

#xmlparams th {
  font-size:15pt;
  font-weight:bold;
  background-repeat: repeat-x;
  background-image: url(../images/navi.png);
  color:#ffffff;
  border-bottom: 2px solid #65BD36;
}

.defaultval {
  font-size:8pt;
  font-weight:bold;
}